<div class="schedule-container">
  <div class="heading">
      <h2 style="color: #242424; font-size: large;">Schedule Reports</h2>
      <button (click)="onCancel()">X</button>
  </div>
  <section class="selectOption" [formGroup]="reportForm">

      <h4 style="color: #242424; font-size: medium;">Select Required Report Types</h4>
      <p><mat-checkbox formControlName="fleet">Fleet Wise Report</mat-checkbox></p>
      <p><mat-checkbox formControlName="vehicle" >Vehicle Wise Report</mat-checkbox></p>
      <p><mat-checkbox formControlName="trip">Trip Wise Report</mat-checkbox></p>
      <p><mat-checkbox formControlName="driving">Driving Scorecard Report</mat-checkbox></p>
  </section>

  <div *ngIf="showVehicleList" class="vehicle-container">
      <h5 style="color: #242424;">Select Vehicles</h5>
      <div *ngFor="let vehicle of vehicles">
        <mat-checkbox >
          <div class="vehicle-list">
              <span><b>{{vehicle.registration_number}}</b></span>
              <span>VIN:{{vehicle.vin}}</span>
              <span>{{vehicle.lob_name}}</span>
          </div>
        </mat-checkbox>
      </div>
    </div>


  <section class="email-section" [formGroup]="reportForm">
      <div class="email-container">
          <h4>Enter email ids</h4>
          <div class="email-input-container" *ngIf="isButtonVisible">
              <input type="email" formControlName="email" placeholder="Enter email">
              <button class="add-email-button" [disabled]="!reportForm.get('email')?.valid || emails.length >= 5"
                  [ngStyle]="{ backgroundColor: 'blue', color: 'white' }" (click)="addEmail()">Add</button>
          </div>
      </div>
      <button class="add-email-button" [disabled]="emails.length >= 5" [ngStyle]="{ color: 'blue' }"
          (click)="onButtonClickVisible()"><b>{{buttonValue}}</b></button>
  </section>

  <div class="email-textarea">
      <div *ngFor="let email of emails; let i = index" class="email-item">
          <span>{{ email }}</span>
          <button class="remove-button" (click)="removeEmail(i)">X</button>
      </div>
  </div>

  <div class="button-container">
      <button class="cancel-button" (click)="onCancel()">Cancel</button>
      <button class="next-button"
              [disabled]="!isNextButtonEnabled()"
              (click)="onNext()">Next ></button>
    </div>
</div>
